@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500&family=Montserrat:wght@300;400;600&family=Roboto:wght@300;400;700&family=Ubuntu:wght@400;500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
}

.column {
  flex: 50%;
  font-weight: 500;
}
p{
  font-weight: 500;

}
h3{
  font-size: 1.2rem;
}

.card {
  /* box-shadow: 0 3px 10px 0 #aaa; */
  cursor: pointer;
  /* height: 280px; */
  /* position: relative; */
  /* width: 243px; */
}

.main-section{
  padding: 10px 150px;
}
.card-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 10px;
}

.action{
  margin-left: 55px;
}

.null-data{
  font-size: 2rem;
  font-weight: 500;
  color: rgb(202, 202, 202);
  justify-content: center;
  align-items: center;
  
}